.Text {

}

.title {
  color: var(--blue-secondary);
  font: var(--font-l);
}

.text {
  color: var(--blue-primary);
  font: var(--font-m);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
