.entityDescription {
  span{
    color: var(--blue-primary);
    font-weight: 700;
    margin-left: 16px;
  }
}

.titleText {
  color: var(--blue-secondary);
  font: var(--font-l);
}

hr {
  opacity: 0.5;
}