.entityDescription {
  margin-bottom: 10px;
  span{
    color: var(--blue-primary);
    font-weight: 700;
    margin-left: 16px;
  }
}

.titleCommon {
  color: var(--blue-secondary);
  font: var(--font-l);
}

.titleDanger {
  color: var(--red-dark);
  font: var(--font-l);
}

hr {
  opacity: 0.5;
}