.DiagnosticTablesList {
  width: 50vw;
}

.itemText {
  color: var(--blue-secondary);
}

.blockItemWrapper {
  margin-left: 60px;
}

.blockTableWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tableTitle {
  margin-bottom: 10px;
}