.UpdateDataPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateData {
  margin-top: 20px;
}
.btnWrapper{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}