.ProcessAnamnesis {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  textarea {
    transition: outline ease-in 0.1s;
    padding: 5px;
    &:focus {
      border-radius: 10px;
      outline: 5px solid rgba(55, 113, 236, 0.24);
    }
  }
}

.btns {
  margin-left: auto;
  button:nth-child(1) {
    margin-right: 20px;
  }
}